.card-img-top{
    width: 10rem !important;
}
.car_status {
    width: 15px;
    background: green;
    height: 15px;
    position: absolute;
    top: 1rem ;
    right: 1rem;
    border-radius: 50%;
}
.card {
    border: none;
    border-radius: 20px;
}
.card-title{
    font-weight: 900;
    font-size: 1.5rem;

}
.nameInfoCar   {
    font-size: 1rem;
    padding-bottom: 5px;
}
.infoCar {
    font-size: 1rem;
    margin-left: 8px;
    font-weight: 600;
    padding-bottom: 5px;

}
.header_cars {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.Switch_container{
    position: absolute;
    top: 10px;
    right: 10px;
}
