.chart_wrapper {
    width: -moz-fit-content;
    width: fit-content;
    background: white;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid #0000001f;
    box-shadow: 0 0 20px 10px #e7e7e7;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
}