.info_card_calendar{
    min-width: 100%;
}
.card_calendar{
    padding: 20px;
    background: white;
    border-radius: 15px;    
}
.info_card_label{
    opacity: 0.7;
    font-size: 1rem;
    padding-top: 10px;
}
.info_card_info{
    font-size: 1.1rem;
    font-weight: 600;
}
.hr_info{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.invoice{
    color: rgb(182, 51, 46);
}
.button_enroll{
    background: orange;

    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    margin: 20px -20px -20px -20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_urgently{
    background: rgb(182, 51, 46);

    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    margin: 20px -20px -20px -20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_upcoming{
    background: rgb(42 143 65);
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    margin: 20px -20px -20px -20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.history_calendar{
    margin-right: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #9b9b9b;
}
.history_calendar {
    color: #9b9b9b;
}